{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="incuerpo" style="background-image: url(images/648077b6bdcfd.jpg);" >
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<div class=" form form-group col-7 mr-auto ml-auto ">
 
    <h1 class="h3 mb-3 font-weight-bold titulo">INTRODUZCA SUS DATOS</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

 <h4 class="pregunta">¿No tienes cuenta todavía?</h4>
 <div class="enlaces">
   <a class="enlace" href="{{path('user_register')}}" >Registrarse</a><br><br>
      <a class="enlace" href="{{path('adm_register')}}">Registrarse como Administrador</a>
 </div>
<div class="row col-12  d-flex justify-content-center boton-filtro mt-4">
    <button class=" boton-detalles btn btn-primary" type="submit">
       Iniciar sesión
    </button>
</div>

   
   
</form>
 </div>
 </div>
{% endblock %}

