{% extends 'base.html.twig' %}

{% block body %}
   <div class="incuerpo"  style="background-image: url(images/648077b6bdcfd.jpg);">
<div class=" form form-group col-7 mr-auto ml-auto ">
  <h1 class="titulo">REGÍSTRATE COMO <span class="tipo">ADMINISTRADOR</span></h1>
    {{ form_start(admin_registrationForm) }}
        {{ form_row(admin_registrationForm.user_name) }}
        {{ form_row(admin_registrationForm.user_lastname) }}
        {{ form_row(admin_registrationForm.tel) }}
        {{ form_row(admin_registrationForm.company_name) }}
        {{ form_row(admin_registrationForm.company_website) }}
        {{ form_row(admin_registrationForm.dni) }}
        {{ form_row(admin_registrationForm.email) }}
        {{ form_row(admin_registrationForm.password) }}

<div class="row col-12  d-flex justify-content-center boton-filtro">
    <button type="submit" class=" boton-detalles btn btn-primary">Registrarse</button>
</div>
        </div>
    {{ form_end(admin_registrationForm) }}
    </div>
{% endblock %}

