{% extends 'base.html.twig' %}

{# FORMULARIO DE REGISTRO DE USUARIO CLIENTE Creado desde---->   Form/UserRegistrationFormType.php #}
{% block body %}
<div class="incuerpo" style="background-image: url(images/648077b6bdcfd.jpg);" >
<div class=" form form-group col-lg-5 mr-auto ml-auto ">
  <h1 class="titulo">REGÍSTRATE COMO <span class="tipo">USUARIO</span></h1>
    {{ form_start(user_registrationForm) }}
        {{ form_row(user_registrationForm.user_name) }}
        {{ form_row(user_registrationForm.user_lastname) }}
        {{ form_row(user_registrationForm.tel) }}
        {{ form_row(user_registrationForm.email) }}
        {# {{ form_row(user_registrationForm.roles) }} #}
        {{ form_row(user_registrationForm.password) }}
        {{ form_row(user_registrationForm.agreeTerms) }}

        <button type="submit" class="boton">Registrarse</button>
    {{ form_end(user_registrationForm) }}
</div>
</div>
  
  
{% endblock %}
