{# templates/homepage.html.twig #}

{% extends 'base.html.twig' %}
{# {% use 'src\Entity\Activity.php' %} #}
{% block stylesheets %}
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
		}
		th,
		td {
			border: 1px solid black;
			padding: 10px;
		}
		td {
			text-align: center;
		}
		th {
			background-color: gray;
		}
		div {
			width: 80%;
			margin: auto;
		}
	</style>
{% endblock %}

{% block body %}


	<h3>Menu administradores</h3>
	<p>En este menu será visible:</p>

	<ul>
		<li>Opciones del perfil (editar datos personales)</li>
		<ol>
			<li>Admin name</li>
			<li>Email</li>
			<li>Password</li>
		</ol>
		<li>Tabla con lista de actividades (se podran filtrar)</li>
		<li>Crear actividad nueva (Crear un boton aqui, que redireccione a un formulario)</li>
	</ul>

	<div>
		<h3>Tus datos personales</h3>
		<table>
			<tr>
				<th>Nombre</th>
				<th>Apellido/s</th>
				<th>Email</th>
				<th>Telefono</th>
				<th>Nombre de compañía/organizacion</th>
				<th>Website</th>
				<th>DNI</th>
			</tr>
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.user.getUserLastname }}</td>
				<td>{{ app.user.email }}</td>
				<td>{{ app.user.tel }}</td>
				<td>{{ app.user.companyname }}</td>
				<td>{{ app.user.companywebsite }}</td>
				<td>{{ app.user.dni }}</td>
			</tr>
		</table>

	</div>
	<div>
		<h3>Tus actividades creadas</h3>
		<table>
			<tr>
				<th>Nombre de la actividad</th>
				{# <th>Fecha</th> #}
				<th>Descripción</th>
				<th>Tickets disponibles</th>
				<th>Localización inicio</th>
				<th>Localización fin</th>
				<th>Precio/persona</th>
				<th>Img</th>
				<!-- Otros campos de actividad -->
			</tr>
			{% for activity in app.user.getActivities() %}
				<tr>
					<td>{{ activity.getActivityName() }}</td>
					{# <td>{{ activity.getFecha()|date('d/m/Y') }}</td> #}
					<td>{{ activity.getDescription() }}</td>
					<td>{{ activity.getTickets() }}</td>
					<td>{{ activity.getStartUbication() }}</td>
					<td>{{ activity.getEndUbication() }}</td>
					<td>{{ activity.getPrice() }}</td>
					<td>{{ activity.getImage() }}</td>
					
					<!-- Imprimir otros campos de actividad -->
				</tr>
			{% endfor %}
		</table>
	</div>


{% endblock %}
