{% extends 'base.html.twig' %}
{# {% use 'src\Entity\Activity.php' %} #}
{% block stylesheets %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;

        }
        th,
        td {
            border: 1px solid black;
            padding: 10px;

        }
        td {
            text-align: center;
        }
        th {
            background-color: gray;
        }
        div {
            width: 80%;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    <script>
        function sortTable(columnIndex) {
            const table = document.querySelector("#miTabla");
            const rows = Array.from(table.rows);
            const isAscending = table.classList.toggle("ascend", !table.classList.contains("ascend"));

            rows.sort((rowA, rowB) => {
                const cellA = rowA.cells[columnIndex].textContent.trim();
                const cellB = rowB.cells[columnIndex].textContent.trim();
                return isAscending ? cellA.localeCompare(cellB) : cellB.localeCompare(cellA);
            });

            while (table.rows.length > 1) {
                table.deleteRow(1);
            }

            rows.forEach((row) => {
                table.appendChild(row);
            });
        }
    </script>


    <h3>Menu administradores</h3>
    <p>En este menu será visible:</p>

    <ul>
        <li>Opciones del perfil (editar datos personales)</li>
        <ol>
            <li>Admin name</li>
            <li>Email</li>
            <li>Password</li>
        </ol>
        <li>Tabla con lista de actividades (se podran filtrar)</li>
        <li>Crear actividad nueva (Crear un boton aqui, que redireccione a un formulario)</li>
    </ul>

    <div>
        <h3>Tus datos personales</h3>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido/s</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Nombre de compañía/organizacion</th>
                <th>Website</th>
                <th>DNI</th>
            </tr>
            <tr >
                <td>{{ app.user.username }}</td>
                <td>{{ app.user.getUserLastname }}</td>
                <td>{{ app.user.email }}</td>
                <td>{{ app.user.tel }}</td>
                <td>{{ app.user.companyname }}</td>
                <td>{{ app.user.companywebsite }}</td>
                <td>{{ app.user.dni }}</td>
            </tr>
        </table>

    </div>
    <div>
        <h3>Tus actividades creadas</h3>
        <table >
            <tr>
                <th><button onclick="sortTable(0)">Nombre de la actividad</button></th>
                <th><button onclick="sortTable(1)">Fecha y hora</button></th>
                <th><button onclick="sortTable(2)">Descripción</button></th>
                <th><button onclick="sortTable(3)">Tickets disponibles</button></th>
                <th><button onclick="sortTable(4)">Localización inicio</button></th>
                <th><button onclick="sortTable(5)">Localización fin</button></th>
                <th><button onclick="sortTable(6)">Precio/persona</button></th>
                <th><button onclick="sortTable(7)">Img</button></th>
                <!-- Otros campos de actividad -->
            </tr>
            <tbody id="miTabla">
            {% for activity in activities %}
                <tr>
                    <td>{{ activity.activityName }}</td>
                    <td>{{ activity.date|date('Y-m-d H:i:s') }}</td>
                    <td>{{ activity.description }}</td>
                    <td>{{ activity.tickets }}</td>
                    <td>{{ activity.startUbication }}</td>
                    <td>{{ activity.endUbication }}</td>
                    <td>{{ activity.price }}</td>
                    <td>{{ activity.image }}</td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
