{% extends 'base.html.twig' %}


{% block body %}
	{# {{activity.idActivity}}
    {{activity.scores}}
    {{activity.averageScore}} #}
    {# {{scores}} #}

	<form action="{{ path('add_activity_review', { 'id': activity.idActivity, 'scores': activity.scores, 'average_score': activity.averageScore }) }}" method="post">
		<label for="review">Escribe tu reseña aquí:</label>
		<textarea name="review" id="review"></textarea>

		<label for="score">Puntuación:</label>
		<select id="score" name="score">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
		</select>


		<button type="submit">Enviar</button>
	</form>

{% endblock %}
