{% extends 'base.html.twig' %}
 {% block stylesheets %}
	<style>
		div {

			margin: auto;
		}
		img {
			width: 100%;
			margin: auto;
		}
		.container-comentarios{
			background-color: rgba(52, 58, 64, 0.05);
			padding: 2em 5em 4em 5em;
		}
				.comentario{
			margin-bottom: 2em;
			background-color: white;
			padding: 2em 1em 3em 1em;
			border-radius: 0.4em;
			-webkit-box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.74); 
			box-shadow: 0px 3px 15px 5px rgba(52, 58, 64,0.2);
		} 
		.boton-opciones .boton-detalles{
  background-color: #7AB800;
  border: none;
  font-weight: bolder;
}
.boton-opciones .boton-detalles:hover{
  background-color: #343A40;
}
	</style>
	 {{parent()}}
{% endblock %} 

{% block body %}
 {% for flashMessage in app.flashes('delete') %}
				<span style="color: green; font-weight: bold;">{{ flashMessage }}</span>
			{% endfor %}
{% for flashMessage in app.flashes('create') %}
				<span style="color: green; font-weight: bold;">{{ flashMessage }}</span>
			{% endfor %}
	{% set localDatetime = date('now', 'Europe/Madrid') %}
	<h1 tabindex="0" class="my-4">Tus actividades creadas</h1>
	<div class="container-activities py-5 col-10 my-5">
    <br>
   
  
		{% set sortedActivities = app.user.getActivities()|sort((a, b) => a.getDate() <=> b.getDate()) %}
        {% for activity in sortedActivities|reverse %}  
                <div class="comentario col-10 d-flex flex-wrap">
                    <div class="comentario-image col-md-4 col-12">
                        {% if activity.getImage() is not null %}
                            <img tabindex="0" src="{{ asset(activity.getImage()) }}" alt="Imagen de actvidad">
							{% else %}
						<img tabindex="0" src="{{ asset('assets/TOURNOW.svg') }}" alt="Imagen por defecto de logo" >
                       {% endif %}
                    </div>
                    <div class="comentario-info col-md-6 col-12">
                        <div class="comentario-row text-left text-md">
                            <div tabindex="0"><strong>{{ activity.getActivityName() }}</strong></div>
                        </div>
						<div class="comentario-row  text-left text-md-left">
                            <div tabindex="0">{{ activity.getCity() }}</div>
                        </div>
                        <div class="comentario-row  text-left text-md-left">
                            <div tabindex="0">{{ activity.getDate()|date('Y-m-d H:i:s') }}</div>
                        </div>
                        <div class="comentario-row  text-left text-md-left">
                            <div tabindex="0">Tickets disponibles: {{ activity.getTickets() }}</div>
                        </div>
                        <div class="comentario-row text-left text-md-left ">
                            <div tabindex="0">Precio: {{ activity.getPrice() }}€</div>
                        </div>
                        <div class="comentario-status text-left text-md-left">
                            {% if activity.getDate()|date('Y-m-d H:i:s')  < localDatetime|date('Y-m-d H:i:s') %}
                                <strong tabindex="0">Estado: Finalizada</strong>
                            {% elseif activity.getTickets() == 0 %}
                                <strong tabindex="0">Estado: Llena</strong>
                            {% else %}
                                <strong tabindex="0">Estado: Disponible</strong>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="activity-actions boton-opciones my-5">
                    <a tabindex="0" href="{{ path('show_activity', { 'id': activity.idActivity }) }}" class=" boton-detalles btn btn-primary">Ver actividad</a>
					{% if activity.getDate()|date('Y-m-d H:i:s')  > localDatetime|date('Y-m-d H:i:s') %}
                   		<a tabindex="0" href="{{ path('edit_activity',{'id':activity.getIdActivity()}) }}" class=" boton-detalles btn btn-primary">Editar</a>
                   		<a tabindex="0" href="{{ path('delete_activity', { 'id': activity.getIdActivity() }) }}" class=" boton-detalles btn btn-primary">Eliminar</a>
					{% endif %}
				</div>
		{% endfor %}
	</div>

{% endblock %}
