{% extends 'base.html.twig' %}
{% block stylesheets %}
	<style>
		table {
			border-collapse: collapse;
			width: 100%;

		}
		th,
		td {
			border: 1px solid black;
			/* padding: 10px; */

		}
		td {
			text-align: center;
		}
		th {
			background-color: gray;
		}
		div {

			margin: auto;
		}
		img {
			width: 100%;
			margin: auto;
		}
		.act_cr {
			margin: auto;
			width: 60%;
		}
	</style>
{% endblock %}

{% block body %}

	<div class="act_cr">
		<h3>Tus actividades creadas</h3>
		<table>
			<tr>
				<th>
					<button onclick="sortTable(0)">Nombre de la actividad</button>
				</th>
				<th>
					<button onclick="sortTable(1)">Fecha y hora</button>
				</th>
				<th>
					<button onclick="sortTable(2)">Descripción</button>
				</th>
				<th>
					<button onclick="sortTable(3)">Tickets disponibles</button>
				</th>
				<th>
					<button onclick="sortTable(4)">Localización inicio</button>
				</th>
				<th>
					<button onclick="sortTable(5)">Localización fin</button>
				</th>
				<th>
					<button onclick="sortTable(6)">Precio/persona</button>
				</th>
				<th>
					<button onclick="sortTable(7)">Img</button>
				</th>
				<th>
					<button onclick="sortTable(8)">Ciudad</button>
				</th>
				<th>
					<button onclick="sortTable(11)">Estado</button>
				</th>
				<!-- Otros campos de actividad -->
			</tr>
			<tbody class="miTabla">
				{% set localDatetime = date('now', 'Europe/Madrid') %}
				{% for activity in app.user.getActivities() %}
					<tr>
						<td>{{ activity.getActivityName() }}</td>
						<td>{{ activity.getDate()|date('Y-m-d H:i:s') }}</td>
						<td>{{ activity.getDescription() }}</td>
						<td>{{ activity.getTickets() }}</td>
						<td>{{ activity.getStartUbication() }}</td>
						<td>{{ activity.getEndUbication() }}</td>
						<td>{{ activity.getPrice() }}</td>
						<td>
							{% if activity.getImage() is not null %}
								<img src="{{ asset(activity.getImage()) }}" alt="Mi imagen">
							{% endif %}
						</td>
						<td>{{ activity.getCity() }}</td>
						
						{% if activity.getDate()|date('Y-m-d H:i:s')  < localDatetime|date('Y-m-d H:i:s') %}

							<td>
								Finalizada
							</td>

						{% elseif activity.getTickets()==0 %}
							<td>
								Llena
							</td>
						{% else %}
							<td>
								Disponible
							</td>

						{% endif %}
						<td>
							<a href="{{ path('delete_activity',{'id':activity.getIdActivity()}) }}">Eliminar</a>
						</td>
						<td>
							<a href="{{ path('show_activity', { 'id': activity.idActivity }) }}">ver</a>

						</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{path('create_activity')}}">Crear nueva actividad</a>
	</div>
	{% block javascripts %}
		<script src="{{ asset('/scripts/table_filter.js') }}"></script>
	{% endblock %}

{% endblock %}
