{% extends 'base.html.twig' %}

{% block body %}

<div>
   <h2>Edita tus datos de administrador</h2>
    {{ form_start(admin_edit_form) }}
    
    <div>
        {{ form_label(admin_edit_form.user_name, 'Nombre de usuario') }}
        {{ form_widget(admin_edit_form.user_name) }}
    </div>
    
    <div>
        {{ form_label(admin_edit_form.user_lastname, 'Apellidos') }}
        {{ form_widget(admin_edit_form.user_lastname) }}
    </div>
    
    <div>
        {{ form_label(admin_edit_form.tel, 'Teléfono') }}
        {{ form_widget(admin_edit_form.tel) }}
    </div>
    
    <div>
        {{ form_label(admin_edit_form.company_name, 'Nombre de la empresa') }}
        {{ form_widget(admin_edit_form.company_name) }}
    </div>
    
    <div>
        {{ form_label(admin_edit_form.company_website, 'Website de la empresa') }}
        {{ form_widget(admin_edit_form.company_website) }}
    </div>
    
    <div>
        {{ form_label(admin_edit_form.dni, 'DNI') }}
        {{ form_widget(admin_edit_form.dni) }}
    </div>
    
    <div>
        {{ form_label(admin_edit_form.email, 'Email') }}
        {{ form_widget(admin_edit_form.email) }}
    </div>
    
    <button type="submit">Guardar cambios</button>
    {{ form_end(admin_edit_form) }}
</div>
    
{% endblock %}