{% extends 'base.html.twig' %}

{% block body %}

<div>
   <h2>Edita tus datos de administrador</h2>
    {{ form_start(user_edit_form) }}
    
    <div>
        {{ form_label(user_edit_form.user_name, 'Nombre de usuario') }}
        {{ form_widget(user_edit_form.user_name) }}
    </div>
    
    <div>
        {{ form_label(user_edit_form.user_lastname, 'Apellidos') }}
        {{ form_widget(user_edit_form.user_lastname) }}
    </div>
    
    <div>
        {{ form_label(user_edit_form.tel, 'Teléfono') }}
        {{ form_widget(user_edit_form.tel) }}
    </div>
    
    <div>
        {{ form_label(user_edit_form.email, 'Email') }}
        {{ form_widget(user_edit_form.email) }}
    </div>
    
    <button type="submit">Guardar cambios</button>
    {{ form_end(user_edit_form) }}
</div>
    
{% endblock %}