{% extends 'base.html.twig' %}

{% block body %}
    <div class=" row">
	<div tabindex="0" class= " a-form col-lg-5 col-md-12 mr-auto ml-auto ">
		{{ form_start(form) }}
	<h1 tabindex="0"> Edita tu Actividad</h1>
		{{ form_row(form.activity_name) }}
		{{ form_row(form.description) }}
		{{ form_row(form.tickets) }}
		{{ form_row(form.start_ubication) }}
		{{ form_row(form.end_ubication) }}
		{{ form_row(form.start_coord) }}
		{{ form_row(form.end_coord) }}
		{{ form_row(form.price) }}
		{{ form_row(form.image) }}
		{{ form_row(form.date) }}
		{{ form_row(form.city) }}
		{{ form_row(form.company_name, {'value': app.user.companyname}) }}

		{{ form_row(form.company_website, {'value': app.user.companywebsite}) }}

		<button tabindex="0" type="submit" class="boton btn a-btn">Guardar</button>
		{{ form_end(form) }}

		

	</div>
	<div tabindex="0" class="mapa col-lg-5 col-md-12 mr-auto ml-auto" id="mapa">
	<div class=" m-ayuda" >
	<i class="fa-solid fa-exclamation" style=" font-size:36px;"></i>
	<h4 tabindex="0">Para poner la primera ubicación pincha en el mapa.Vuelve a pinchar para la final.</h4>
	</div>
		<div tabindex="0" id="map" style="height: 500px; width: 100%;"></div>
		<div class="btn a-botn">
		<button tabindex="0" type="  button"  class="boton a-btn"id="clear">Borrar seleccion</button> 
		</div>
	</div>
{% endblock %}

