{% extends 'base.html.twig' %}
{% block body %}
	{% if app.flashes('full')  %}
		<p id="mensaje">
			{% for flashMessage in app.flashes('full') %}
				{{ flashMessage}}
			{% endfor %}
		</p>
	{% endif %}
	{% set activityCount = allActivities|length %}
	<header class="header-container m-0">
		<img src="{{ asset('images/costa.jpg') }}" alt="Mi imagen" style="height: 30em; object-fit:cover;">
		<h3 class="titulo-allActivities">
			{{activityCount}}
			actividades disponibles,
			<br>
			¡y creciendo!
		</h3>
	</header>
	<br>
	<div class="boton-filtro">
		<a href="{{ path('filter_activities') }}" class=" boton-detalles btn btn-primary">Filtrar actividades</a>
	</div>
	<br>
	<section class="container-activities row col-12 d-flex justify-content-center">
		{% set localDatetime = date('now', 'Europe/Madrid') %}
		{% for activity in allActivities %}
			<div class="card col-lg-3 col-md-5 col-sm-10 d-flex flex-wrap my-4 mx-3  px-0 " style="overflow: hidden;">
				{% if activity.getImage() is not null %}
					<div class="img-activity px-0 mx-0 d-flex justify-content-center align-items-center" style="overflow:hidden;">
						<img src="{{ asset(activity.getImage()) }}" alt="Mi imagen" style="height: 15em; object-fit:cover;">
					</div>
				{% else %}
					<div class="img-activity px-0 mx-0 d-flex justify-content-center align-items-center" style="overflow:hidden;">
						<img src="assets/TOURNOW.svg" alt="Mi imagen" style="height: 15em; object-fit:cover;">
					</div>
				{% endif %}
				<div class="card-body mx-0  text-left">
					<h5 class="card-title text-uppercase">{{ activity.getActivityName() }}</h5>
					<p class="card-text">
						<strong>{{ activity.getCity() }}</strong>
						-
						{{ activity.getDate()|date('Y/m/d H:i') }}h</p>
				</div>
				<div class="card-footer mx-0 d-flex align-items-center">
					<div class="row col-12 mx-0 ">
						<div class="col mx-0 d-flex justify-content-center align-items-center">
							<a href="{{ path('show_activity', { 'id': activity.idActivity }) }}" class=" boton-detalles btn btn-primary">Ver actividad</a>
						</div>
						<div class="col  mx-0 d-flex justify-content-center align-items-center text-center">
							<p class="text-right precio">{{activity.getPrice()}}€</p>
						</div>
						<div class="col  mx-0 d-flex justify-content-center align-items-center">
							{% if activity.getDate()|date('Y-m-d H:i:s')  < localDatetime|date('Y-m-d H:i:s') %}
								<p class="text-right estadoActividad finalizada">Finalizada</p>
							{% elseif activity.getTickets()==0 %}
								<p class="text-center estadoActividad llena">Actividad llena</p>
							{% else %}
								<p class="text-right estadoActividad disponible">Disponible</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>
{% endblock %}
