{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
<div class="f-container  boton-filtro" style="background-img: {{asset ('images/sevilla.jpg')}}">

		<h1 tabindex="0">Buscar actividad</h1>
		<div class="filter">
			<div tabindex="0" class="f-city">
				{{ form_start(form) }}
			</div>
			<div tabindex="0" class="f-date">
				{{ form_widget(form) }}
			</div>
		</div>
		<button tabindex="0" class="boton-detalles  btn btn-primary my-4 px-5 " type="submit">Buscar</button>
		{{ form_end(form) }}

	</div>

	{% if activities is defined %}

		{% if activities is empty %}
			<div class="espacio">
				<p tabindex="0">No hay actividades con los parametros de búsqueda seleccionados</p>
			</div>
		{% else %}
			{% if ciudad is defined and ciudad != 'Elige ciudad' %}
				<p tabindex="0">Ciudad:
					{{ ciudad }}</p>
			{% endif %}

			{% if fecha is defined and fecha is not null %}
				<p tabindex="0">Fecha:
					{{ fecha }}</p>
			{% endif %}
			{% set localDatetime = date('now', 'Europe/Madrid') %}
				<div class="row container-activities px-0 py-4 my-4 row col-11">
			{% for activity in activities %}
			
					<div class="card  col-lg-5 col-md-5 col-sm-12 d-flex flex-wrap mr-auto ml-auto my-4  px-0 " style="overflow: hidden;">
						{% if activity.getImage() is not null %}
							<div class="img-activity px-0 mx-0 d-flex justify-content-center align-items-center" style="overflow:hidden;">
								<img tabindex="0" src="{{ asset(activity.getImage()) }}" alt="Imagen de actividad" style="height: 15em; object-fit:cover;">
							</div>
						{% else %}
							<div class="img-activity px-0 mx-0 d-flex justify-content-center align-items-center" style="overflow:hidden;">
								<img tabindex="0" src="assets/TOURNOW.svg" alt="Imagen logo por defecto" style="height: 15em; object-fit:cover;">
							</div>
						{% endif %}
						<div class="card-body mx-0">
							<h5 tabindex="0" class="card-title text-left">{{ activity.getActivityName() }}</h5>
							<p tabindex="0" class="card-text">{{ activity.getDate()|date('Y-m-d H:i') }}h</p>
						</div>
						<div class="card-footer mx-0 d-flex align-items-center">
							<div class="row col-12 mx-0 ">
								<div class="col mx-0 d-flex justify-content-center align-items-center">
									<a tabindex="0" href="{{ path('show_activity', { 'id': activity.idActivity }) }}" class=" boton-detalles btn btn-primary">Ver actividad</a>
								</div>
								<div class="col  mx-0 d-flex justify-content-center align-items-center text-center">
									<p tabindex="0" class="text-right precio">{{activity.getPrice()}}€</p>
								</div>
								<div class="col  mx-0 d-flex justify-content-center align-items-center">
									{% if activity.getDate()|date('Y-m-d H:i:s')  < localDatetime|date('Y-m-d H:i:s') %}
										<p tabindex="0" class="text-right estadoActividad finalizada">Finalizada</p>
									{% elseif activity.getTickets()==0 %}
										<p tabindex="0" class="text-center estadoActividad llena">Actividad llena</p>
									{% else %}
										<p tabindex="0" class="text-right estadoActividad disponible">Disponible</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				
			{% endfor %}
			</div>
		{% endif %}

	{% endif %}

	{% for flashMesagge in app.flashes('choiceRequest')%}
		{{flashMesagge}}
	{% endfor %}
  
</div>
	
{% endblock %}
