 {% extends 'base.html.twig' %} 

{% block stylesheets %}
	{{ parent() }}
	<style>
	body{
		background-color: white;
	}
		.comentario{
			margin-bottom: 2em;
			background-color: white;
			padding: 2em 1em 3em 1em;
			border-radius: 0.4em;
			-webkit-box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.74); 
			box-shadow: 0px 3px 15px 5px rgba(52, 58, 64,0.2);
		}

		form {
			margin-top: 20px;
		}

		form label {
			display: inline-block;
			width: 150px;
			vertical-align: middle;
		}

		form select {
			vertical-align: middle;
			margin-right: 10px;
		}

		form button[type="submit"] {
			background-color: #53a93f;
			color: #fff;
			border: none;
			padding: 10px 20px;
			font-size: 14px;
			cursor: pointer;
		}
		.activity-img{
			height: 37em;
			overflow: hidden;
			display: flex;
			align-items: end;
			justify-content:center;
		}
		.activity-img img{
			margin-top: 2em;
			max-width: 100%;
  			max-height: 100%;
  			object-fit: contain;
		}
		.container{
			background-color: rgba(52, 58, 64, 0.05);
			padding: 2em 5em 4em 5em;
		}
		.activity-nombre{
			font-weight: bolder;
		}
		.main-info{
			margin:2em 0em;
		}
		.barranav .nav-secundaria .navbar-nav  .nav-item .nav-link{
			width:100%;
			color:  rgba(52, 58, 64, 0.6);
		}
		.barranav .nav-secundaria .navbar-nav  .nav-item .nav-link:hover{
			color: rgba(122, 184, 0, 1);
			font-weight: bolder;
		}
		.barranav{
			background-color: white!important;
		}
		.container .titulo-apartados{
			color: #343A40;
			margin-bottom:2em;
		}
		.container .titulo-apartados h4{
			margin:1em 0em;
		}

		.activity-details{
			color: #343A40;
		}
		.activity-ciudad{
			color: #B36E32;
		} 
		.mapa {
        display: flex;
        align-items: center;
        justify-content: center;
    	}
		#informacion ul {
        list-style-type: none;
        padding-left: 1em;
    }
		.disponible {
		color: #7AB800;
		}

		.finalizada{
		color: #B36E32;
		}
		.llena{
		color: #B36E32;
		}
		.activity-price{
			font-weight:bolder;
		color: #7AB800;
		}

    .letra-pequeña::before {
        content: "*";
        margin-right: 0.5em;
		font-weight: bold;
    }
	.company-link{
		text-decoration: none;
		color:#343A40;
	}
	.company-link:hover{
		color: #7AB800;
	}

	</style>
{% endblock %}


{% block body %}


	{% for flashMessage in app.flashes('edit') %}
		{{ flashMessage}}
	{% endfor %}
	{% set localDatetime = date('now', 'Europe/Madrid') %}

	<div class="container col-10 my-5">
		<header class="main-info">
		<br>
			<div class="row col-12 d-flex justify-content-center">
				<p class="activity-details activity-ciudad col-12  d-md-flex justify-content-md-start text-md-left">{{ activity.city }}</p>
			</div>
			<div class="row col-12">
				<h1 class="activity-details activity-nombre col-md-6 col-12 d-flex justify-content-center">{{activity.activityName}}</h1>
				<h2 class="activity-details  activity-price col-md-6 col-12 d-flex justify-content-center">{{activity.price}}€</h2>
			</div>
			<div class="row col-12">
				<p class="activity-details activity-opiniones col-md-6 col-12 d-flex justify-content-center">{{activity.date|date('Y-m-d')}} </p>
				{% if activity.getDate()|date('Y-m-d H:i:s')  < localDatetime|date('Y-m-d H:i:s') %}
					<p class="activity-details estadoActividad  finalizada col-md-6 col-12 d-flex justify-content-center">Finalizada</p>
					{% elseif activity.getTickets()==0 %}
						<p class="activity-details estadoActividad llena col-md-6 col-12 d-flex justify-content-center">Actividad llena</p>
							{% else %}
								<p class="activity-details estadoActividad disponible col-md-6 col-12 d-flex justify-content-center">Disponible</p>
				{% endif %}
			</div>
			<div class="row activity-img col-12">
				{% if activity.getImage() is not null %}
					<img src="{{ asset(activity.getImage()) }}" alt="Portada de la actividad">
					{% else %}
						<img src="{{ asset('assets/TOURNOW.svg') }}" alt="Mi imagen" >
					</div>
				{% endif %}
			</div>
			<br>
		</header>
	</div>
	<div class="barranav">
		<nav class="nav-secundaria d-flex justify-content-center">
				<ul class="navbar-nav  d-flex flex-md-row justify-content-center">
				<li class="nav-item">
					<a class="nav-link" href="#descripcion">Descripción</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#disponibilidad">Disponibilidad</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#detalles">Detalles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#informacion">Información general</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#opiniones">Opiniones</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#reserva">Reserva</a>
				</li>
				</ul>
		</nav>
		</div>
	<div class="container col-10 my-5">
		<section>
		<div class="titulo-apartados text-left" id="descripcion">
			<h4>Descripción</h4>
			<p>{{ activity.description }}</p>
		</div>
		<hr>
		<div class="titulo-apartados text-left" id="disponibilidad">
		<h4>Disponibilidad</h4>
			<div class="row disponibilidad-tickets">
			<p class="col-12 col-md-6"><strong>Tickets disponibles:</strong></p>
			<p class="col-12 col-md-6 text-md-right">{{ activity.tickets }}</p>
			</div>
		<p></p>
		</div>
		<hr>
		<div class="titulo-apartados text-left" id="detalles">
		<h4>Detalles</h4>
		<div class="detalles-activity">
			<div class="row">
			<p class="col-12 col-md-6"><strong>Fecha: </strong></p>
			<p class="col-12 col-md-6 text-md-right">{{ activity.date|date('Y-m-d') }}</p>
			</div>
			<div class="row">
			<p class="col-12 col-md-6"><strong>Hora: </strong></p>
			<p class="col-12 col-md-6 text-md-right">{{ activity.date|date('H:i') }}</p>
			</div>
			<div class="row">
			<p class="col-12 col-md-6"><strong>Punto de encuentro: </strong></p>
			<p class="col-12 col-md-6 text-md-right">{{ activity.startUbication }}</p>
			</div>
			<div class="row">
			<p class="col-12 col-md-6"><strong>Punto de finalización: </strong></p>
			<p class="col-12 col-md-6 text-md-right">{{ activity.endUbication }}</p>
			</div>
			<br>
			<div class="d-none">
				<p id="co_start">{{ activity.getStartCoord() }}</p>
				<p id="co_end">{{ activity.getEndCoord() }}</p>
			</div>
			<div class="row mapa" id="map" style="height: 500px; width: 80%"></div>
			<br>
			<div class="row">
			<p class="col-12 col-md-6"><strong>Compañía organizadora: </strong></p>
			<p class="col-12 col-md-6 text-md-right">{{ activity.companyName }}</p>
			</div>
			<div class="row">
			<p class="col-12 col-md-6"><strong>Página web:</strong></p>
			<a href="{{activity.companyWebsite}}" class="col-12 col-md-6 text-md-right company-link">{{ activity.companyWebsite }}</a>
			</div>
		</div>
		</div>
		<hr>
		<div class="titulo-apartados text-left" id="informacion">
		<h4>Información general</h4>
		<ul>
			<li class="letra-pequeña">Pago directo a la empresa organizadora el día de la actividad</li>
			<li class="letra-pequeña">Cancelación disponible hasta 24 horas antes de la fecha contactando directamente con la empresa organizadora</li>
			<li class="letra-pequeña">La empresa organizadora se reserva el derecho a cambiar los detalles de la actividad hasta 24 horas antes</p></li>
		</ul>
		</div>
		<hr>
		<div class="titulo-apartados text-left" id="opiniones">
		<h4>Opiniones</h4>
		{{ render(controller('App\\Controller\\ActivityController::showActivityReviews', { 'id': activity.idActivity })) }} 
		</div>
		<hr>
		<div class="titulo-apartados text-left" id="reserva">
		<h4>Reserva</h4>
		{% if app.user %}
			{% for flashMessage in app.flashes('joined') %}
				{{ flashMessage}}
			{% endfor %}
		{% if activity.tickets > 0 %}
				{% set userJoinedActivity = false %}
				{% for userActivity in app.user.customerActivities %}
					{% if userActivity == activity %}
						{% set userJoinedActivity = true %}
					{% endif %}
				{% endfor %}
				{% if userJoinedActivity %}
					<p>Ya estás unido a esta actividad</p>
					{# {% if activity.getDate()|date('Y-m-d H:i:s')  < "now"|date('Y-m-d H:i:s') %}
						<a href="{{ path('show_activity_reviews', { 'id': activity.idActivity }) }}">comentarios</a>
					{% endif %} #}
				{% else %}
					{% if activity.getDate()|date('Y-m-d H:i:s')  > "now"|date('Y-m-d H:i:s') %}
						<form method="POST" action="{{ path('join_activity', {'idActivity': activity.idActivity , 'tickets_number': activity.tickets, 'nameActivity': activity.activityName}) }}">
							<label for="tickets">Número de tickets:</label>
							<select id="tickets" name="tickets">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
							<button type="submit">Comprar tickets</button>
						</form>
					{% else %}
						<p>La actividad ha pasado</p>
						{# {% if activity.getDate()|date('Y-m-d H:i:s')  < "now"|date('Y-m-d H:i:s') %}
							<a href="{{ path('show_activity_reviews', { 'id': activity.idActivity }) }}">comentarios</a>
						{% endif %} #}
					{% endif %}
				{% endif %}
			{% else %}
				<p>La actividad está completa</p>
			{% endif %}
			{% endif %}

		</section>
	</div>

		
	{# <div class="activity-card">
		{% if activity.getImage() is not null %}
			<div class="activity-cover">
				<img src="{{ asset(activity.getImage()) }}" alt="Portada de la actividad">
			</div>
		{% endif %}

		<div class="activity-details">
			<h2>{{ activity.activityName }}</h2>

			<table>
				<tr>
					<td>
						<strong>Fecha:</strong>
					</td>
					<td>{{ activity.date|date('Y-m-d H:i:s') }}</td>
				</tr>
				<tr>
					<td>
						<strong>Descripción:</strong>
					</td>
					<td>{{ activity.description }}</td>
				</tr>
				<tr>
					<td>
						<strong>Tickets disponibles:</strong>
					</td>
					<td>{{ activity.tickets }}</td>
				</tr>
				<tr>
					<td>
						<strong>Localización inicio:</strong>
					</td>
					<td>{{ activity.startUbication }}</td>
				</tr>
				<tr>
					<td>
						<strong>Localización fin:</strong>
					</td>
					<td>{{ activity.endUbication }}</td>
				</tr>
				<tr>
					<td>
						<strong>Precio/persona:</strong>
					</td>
					<td>{{ activity.price }}</td>
				</tr>
				<tr>
					<td>
						<strong>Ciudad:</strong>
					</td>
					<td>{{ activity.city }}</td>
				</tr>
				<tr>
					<td>
						<strong>Compañía:</strong>
					</td>
					<td>{{ activity.companyName }}</td>
				</tr>
				<tr>
					<td>
						<strong>Coordenadas inicio:</strong>
					</td>
					<td id="co_start">{{ activity.getStartCoord() }}</td>
				</tr>
				<tr>
					<td>
						<strong>Coordenadas fin:</strong>
					</td>
					<td id="co_end">{{ activity.getEndCoord() }}</td>
				</tr>
				<tr>
					<td>
						<strong>Página web:</strong>
					</td>
					<td>
						<a href="">{{ activity.companyWebsite }}</a>
					</td>
				</tr>
			</table>
			{% if app.user %}
			{% for flashMessage in app.flashes('joined') %}
				{{ flashMessage}}
			{% endfor %}
			{% if activity.tickets > 0 %}
				{% set userJoinedActivity = false %}
				{% for userActivity in app.user.customerActivities %}
					{% if userActivity == activity %}
						{% set userJoinedActivity = true %}
					{% endif %}
				{% endfor %}
				{% if userJoinedActivity %}
					<p>Ya estás unido a esta actividad</p>
					{% if activity.getDate()|date('Y-m-d H:i:s')  < "now"|date('Y-m-d H:i:s') %}
						<a href="{{ path('show_activity_reviews', { 'id': activity.idActivity }) }}">comentarios</a>
					{% endif %}
				{% else %}
					{% if activity.getDate()|date('Y-m-d H:i:s')  > "now"|date('Y-m-d H:i:s') %}
						<form method="POST" action="{{ path('join_activity', {'idActivity': activity.idActivity , 'tickets_number': activity.tickets, 'nameActivity': activity.activityName}) }}">
							<label for="tickets">Número de tickets:</label>
							<select id="tickets" name="tickets">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
							<button type="submit">Comprar tickets</button>
						</form>
					{% else %}
						<p>La actividad ha pasado</p>
						{% if activity.getDate()|date('Y-m-d H:i:s')  < "now"|date('Y-m-d H:i:s') %}
							<a href="{{ path('show_activity_reviews', { 'id': activity.idActivity }) }}">comentarios</a>
						{% endif %}
					{% endif %}
				{% endif %}
			{% else %}
				<p>La actividad está completa</p>
			{% endif %}
			{% endif %}


			


		</div>
		<div id="map" style="height: 500px; width: 50%"></div>
	</div> #}

{% endblock %}
{% block javascripts %}
	<script src="{{ asset('/scripts/mapa2.js') }}"> </script>
	{{ parent() }}
{% endblock %}
