{% extends 'base.html.twig' %}
{# {% block stylesheets %}
	<style>
		table {
			border-collapse: collapse;
			width: 100%;

		}
		th,
		td {
			border: 1px solid black;
			padding: 10px;

		}
		td {
			text-align: center;
		}
		th {
			background-color: gray;
		}
		div {
			width: 80%;
			margin: auto;
		}
		img {
			width: 100%;
			margin: auto;
		}
		.act_cr {
			margin: auto;
			width: 60%;
		}
	</style>
{% endblock %} #}
{% block body %}
	{% if app.flashes('full')  %}
		<p id="mensaje">
			{% for flashMessage in app.flashes('full') %}
				{{ flashMessage}}
			{% endfor %}
		</p>
	{% endif %}
	<header class="header-container m-0">
		<img src="{{ asset('images/costa.jpg') }}" alt="Mi imagen" style="height: 30em; object-fit:cover;">
		<h3 class="titulo-allActivities">
			Actividades a las que estás apuntado/a
		</h3>
	</header>
	<br>
	<section class="container-activities row col-12 d-flex justify-content-center">
		{% set localDatetime = date('now', 'Europe/Madrid') %}
		{% for activity in userActivities %}
			<div class="card col-lg-3 col-md-5 col-sm-10 d-flex flex-wrap my-4 mx-3  px-0 " style="overflow: hidden;">
				{% if activity.getImage() is not null %}
					<div class="img-activity px-0 mx-0 d-flex justify-content-center align-items-center" style="overflow:hidden;">
						<img src="{{ asset(activity.getImage()) }}" alt="Mi imagen" style="height: 15em; object-fit:cover;">
					</div>
				{% else %}
					<div class="img-activity px-0 mx-0 d-flex justify-content-center align-items-center" style="overflow:hidden;">
						<img src="{{ asset('assets/TOURNOW.svg') }}" alt="Mi imagen" style="height: 15em; object-fit:cover;">
					</div>
				{% endif %}
				<div class="card-body mx-0  text-left">
					<h5 class="card-title text-uppercase">{{ activity.getActivityName() }}</h5>
					<p class="card-text">
						<strong>{{ activity.getCity() }}</strong>
						-
						{{ activity.getDate()|date('Y/m/d H:i') }}h</p>
				</div>
				<div class="card-footer mx-0 d-flex align-items-center">
					<div class="row col-12 mx-0 ">
						<div class="col mx-0 d-flex justify-content-center align-items-center">
							<a href="{{ path('show_joined_activity', { 'id': activity.idActivity }) }}" class=" boton-detalles btn btn-primary">Ver actividad</a>
						</div>
						<div class="col  mx-0 d-flex justify-content-center align-items-center text-center">
							<p class="text-right precio">{{activity.getPrice()}}€</p>
						</div>
							{% if activity.getDate()|date('Y-m-d H:i:s')  < localDatetime|date('Y-m-d H:i:s') %}
							<div class="col  mx-0 d-flex justify-content-center align-items-center">
								<a href="{{ path('print_activity_reviewForm', { 'id': activity.idActivity }) }}" class=" boton-detalles btn btn-primary">Comentar y puntuar</a>
							</div>
							{% endif %}
							
					</div>
				</div>
			</div>
				
		{% endfor %}
	</section>
{% endblock %}
